comtypes==1.1.14
Context==0.0
coverage==7.2.7
Device==0.1
filterpy==1.4.5
imutils==0.5.4
keyboard==0.13.5
lap==0.4.0
matplotlib==3.4.0
mediapipe==0.8.11
numpy==1.22.2
open3d==0.16.0
opencv_contrib_python==4.4.0.46
opencv_python==4.4.0.46
openni==2.3.0
Pipeline==0.1
primesense==2.2.0.30.post5
Property==2.6.2
PyAudio==0.2.13
PyAutoGUI==0.9.50
pycaw==20220416
python_osc==1.8.0
scipy==1.10.1
screeninfo==0.8.1
Sensor==6
synthplayer==2.5
tensorflow==2.11.0
tensorflow_intel==2.11.0
Version==0.1.1
websockets==10.1
matplotlib==3.2.2
